.backg {
  background-color: #eeee;
  width: 100vw;
  height: 100vh;
}

.mb_20{
  margin-bottom: 20px;
}

.center{
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.button_center{
  text-align: center;
}

.pt_20px{
  padding-top: 20px;
}

.m_0{
  /* margin: 0px !important */
}

.p_0{
  /* padding: 0px !important */
}