html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.pt_20px{
  padding-top: 20px;
}

.pb_20px{
  padding-bottom: 20px;
}

.pr-20px{
  padding-right: 20px;
}

.button-1{
  background-color: #5278BD;
  border-radius: 4px;
  font-weight: 500;
  color: #eee;
  border: none;
  padding: 4px 10px !important;
  font-size: 0.8125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  line-height: 1.75;
  opacity: .9;
  transition: opacity 250ms, background-color 250ms;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.button-1:hover{
  background-color: #3a5b97;
  border-radius: 4px;
  opacity: 1;
  font-weight: 500;
  color: #eee;
  border: none;
  padding: 4px 10px !important;
  font-size: 0.8125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  line-height: 1.75;
  transition: opacity 250ms, background-color 250ms;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.button-2{
  border: 1px solid #5278BD;
  background-color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  padding: 4px 10px !important;
  font-size: 0.8125rem;
  line-height: 1.75;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.button-3{
  border: 1px solid #5278BD;
  background-color: #eeeeee;
  text-transform: uppercase;
  color: #5278BD;
  font-weight: 500;
  border-radius: 4px;
  padding: 4px 10px !important;
  font-size: 0.8125rem;
  line-height: 1.75;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.button-3:hover{
  border: 1px solid #5278BD;
  background-color: #5278BD;
  color: #eee;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  padding: 4px 10px !important;
  font-size: 0.8125rem;
  line-height: 1.75;
  transition: background-color 500ms, color 250ms, border 250ms;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.button-4{
  border: none;
  background-color: #eeeeee;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  padding: 4px 10px !important;
  font-size: 0.8125rem;
  line-height: 1.75;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.button-4:hover{
  border: none;
  background-color: #5278BD;
  color: #eee;
  transition: color 250ms, background-color 250ms;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  padding: 4px 10px !important;
  font-size: 0.8125rem;
  line-height: 1.75;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.button-5{
  border: none;
  background-color: #eeeeee;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  padding: 4px 10px !important;
  font-size: 0.8125rem;
  line-height: 1.75;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.button-5:hover{
  border: none;
  background-color: rgb(214, 214, 214);
  transition: color 250ms, background-color 250ms;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  padding: 4px 10px !important;
  font-size: 0.8125rem;
  line-height: 1.75;
  transition: 500ms;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.button-err{
  border: 1px solid #5278BD;
  background-color: #f0c483;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  padding: 4px 10px !important;
  font-size: 0.8125rem;
  line-height: 1.75;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.button-err:hover{
  border: 1px solid #FF9400;
  background-color: #FF9400;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  color: #eee;
  padding: 4px 10px !important;
  font-size: 0.8125rem;
  line-height: 1.75;
  transition: 500ms;
}

.button-err-1{
  border: none;
  background-color: #f0c483;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  padding: 4px 10px !important;
  font-size: 0.8125rem;
  line-height: 1.75;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.button-err-1:hover{
  border: none;
  background-color: #FF9400;
  text-transform: uppercase;
  font-weight: 500;
  color: #eee;
  border-radius: 4px;
  padding: 4px 10px !important;
  font-size: 0.8125rem;
  line-height: 1.75;
  transition: 500ms;
}

